.header {
  width: 98.7vw;
  height: 500px;
  background: url("./assets/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-top: 140px;
  &::before {
    content: "";
    background: #333132;
    position: absolute;
    width: 100%;
    height: 140px;
    top: -140px;
    left: 0;
    z-index: 1;
  }
  h1 {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: end;
    min-height: 140px;
    top: -140px;
    color: #fff;
    font-size: 80px;
    padding-left: 50px;
    font-family: "Poppins", sans-serif;
  }
}
.desc {
  display: flex;
  justify-content: center;
  margin: 70px 0;
  h2 {
    font-family: "Poppins", sans-serif;
    font-style: oblique;
    border-left: 1px solid #e0e0e0;
    max-width: 882px;
    width: 100%;
    padding-left: 20px;
  }
}

@media (max-width: 450px) {
  .desc {
    h2{
      font-size: 12px!important;
      text-align: center;
      padding: 0;
    }
  }
}