.navbar {
  user-select: none;
  background: #01012f;
  padding-top: 40px;
  color: #fff;
  input {
    display: none;
    background: transparent;
    color: inherit;
  }
  .logo {
    width: 200px;
    img {
      max-width: 100%;
    }
  }
  .top_alert {
    padding-top: 4px;
    border-bottom: 2px solid #c5c5c50e;
    background: transparent;
  }
}
.menu-mob {
  display: none;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 5px 10px;
}

.container {
  width: 100%;
  ul {
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    backdrop-filter: blur(100px);
    background: #01012c99;
    top: 150px;
    width: 100vw;
    left: 0;
    z-index: 10000;
    li {
      padding: 20px 0;
      &:hover {
        opacity: 0.7;
        ol {
          opacity: 1;
          visibility: visible;
          width: max-content;
          max-width: 300px;
          z-index: 100000;
        }
      }
    }
    label {
      position: relative;
      height: 100%;
      p {
        display: flex;
        align-items: center;
        gap: 4px;
      }
      svg {
        height: 15px;
        width: 15px;
      }

      ol {
        width: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 45px;
        transition: opacity 0.15s ease;
        background: #000000;
        backdrop-filter: blur(100px);
        z-index: 100000;
        li {
          padding: 5px 10px;
          border: 1px solid #161616;
        }
      }
    }
  }
}

.lang {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  background: #c5c5c50e;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 700;
  * {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      width: 25px;
    }
  }
}

.top_alert {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  padding-bottom: 20px;
  background: #000;
  left: 0;
  top: 10px;
  height: 20px;
  color: #fff;
  width: 100vw;
  div {
    display: flex !important;
    align-items: center;
  }
}

@media (max-width: 1150px) {
  .container {
    ul {
      display: none;
    }
    .show {
      flex-direction: column;
      display: flex;
      top: 163px;
      width: max-content;
      padding: 10px 20px;
      gap: 5px;
      li {
        padding: 5px;
      }
      input:checked + label {
        position: relative;
        ol {
          opacity: 1;
          visibility: visible;
          width: max-content;
          position: static;
        }
      }
    }
  }
  .menu-mob {
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    background: #01012f99;
    position: absolute;
    left: 0;
    width: 100vw;
    padding: 10px;
    z-index: 99999999999;
    .mob-icon {
      border: 2px solid #fff;
      display: inline-block;
    }
    svg {
      width: 40px;
      height: 40px;
      path {
        fill: aliceblue;
      }
    }
  }
  .top_alert {
    display: none;
  }
  .navbar {
    padding-top: 0;
  }
  .container {
    .show {
      top: 175px;
    }
  }
}

@media (max-width: 450px) {
  .logo {
    width: 150px;
    img {
      width: 100%;
    }
  }
  .lang {
    p {
      display: none;
    }
    img {
      width: 20px;
    }
  }
  .container {
    .show {
      top: 150px;
      max-width: 100%;
      ol {
        max-width: 100%;
      }
    }
  }
  .clc {
    margin-bottom: 5px;
  }
  .menu-mob {
    padding: 5px;
    justify-content: end;
    .mob-icon {
      padding: 2px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
