.footer {
  background: #333132;
  color: #fff;
  padding: 70px 50px 30px;

  .column {
    gap: 100px;
    display: flex;
    margin-bottom: 90px;
    .row1 {
      width: 50%;
      font-style: italic;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
    }
    .row2 {
      max-width: 520px;
      width: 100%;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 40px;
      h2{
        border-top: 1px solid grey;
        display: inline-block;
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        padding: 10px 0;
      }
      li{
        font-size: 14px;
        &:hover{
          a{
            text-decoration: underline;
          }
        }
      }
      nav {
        display: flex;
        justify-content: space-between;
        gap: 40px;
      }
    }
    ul {
      display: flex;
      flex-direction: column!important;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

@media (max-width:900px) {
  .logo{
    width: 80%;
  }
  .column{
    flex-direction: column;
    .row1{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%!important;
      flex-direction: column-reverse!important;
      gap: 30px;
    }
    .row2{
      margin-left: 0!important;
      width: 100%;
      h2{
        width: 100%;
      }
    }
  }
  .bottom{
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}