.top {
  padding: 100px 50px;
  background: rgb(139, 139, 35);
  color: #fff;
  margin-bottom: 70px;
  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-size: 80px;
      font-family: "Poppins", sans-serif;
    }
    p {
      max-width: 400px;
    }
  }
}
