@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tienne:wght@400;700;900&display=swap");
/*   font-family: "Tienne", serif;
  font-family: "Poppins", sans-serif;
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Graphic Light";
  src: local("Graphic Light"),
    url("./fonts/Graphik-Light.ttf") format("opentype"),
    url("./fonts/Graphik-Light.woff") format("woff"),
    url("./fonts/Graphik-Light.woff2") format("woff");
}

body {
  font-family: "Graphic Light";
  overflow-x: hidden;
  transition: 0.5s ease;
  section {
    /* visibility: visible; */
    opacity: 1;
    transition: 0.5s ease;
  }
}

.true {
  transition: 0.5s ease;
  section {
    opacity: 0;
    transition: 0.5s ease;
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

section {
  flex: 1;
}

ol,
ul {
  font-family: "Poppins", sans-serif;
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Tienne", serif;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
